.order {
    font-size: 12px;
}

.toggle {
    height: 44px;
    margin-left: 10px;
}

.toggle-button {}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 10px;
    height: 49px;
}

::ng-deep .mat-form-field-flex {
    height: 49px;
}