<div class="top-bar">
    <mat-label> {{ products.length }} Products found</mat-label>
    <div>
        <mat-form-field appearance="outline" class="order">
            <mat-label>Order</mat-label>
            <mat-select matNativeControl required appearance="outline">
                <mat-option value="latest" (click)="orderLatest()">Latest Item</mat-option>
                <mat-option value="newest" (click)="orderNewest()">Newest Item</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="toggle">
            <mat-button-toggle value="list" class="toggle-button" (click)="viewList()">
                <mat-icon style="margin-top:-6px">menu</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="grid" class="toggle-button" (click)="viewGrid()">
                <mat-icon style="margin-top:-6px">grid_on</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>