body {
    background-color: rgb(245, 245, 245);
}

.container {
    width: 1200px;
    margin: auto;
    margin-top: 50px
}

.wrapper-product {
    display: flex;
    align-items: flex-start;
}

.side-bar {
    margin-left: 0;
    max-width: 1000px;
    margin-top: 88px
}

.products {
    margin-right: 0;
    width: 850px;
}

.left {
    float: right;
}

.mat-badge-content {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 12;
    font-weight: 800;
    width: 5px;
    display: grid;
    min-width: 40px;
    max-height: 15px;
    text-align: center;
    align-items: center;
    padding: 0px 3px 5px 3px;
    top: -20px;
    right: -22px;
    border-radius: 10px;
    background-color: red;
}