body {
    background-color: rgb(245, 245, 245);
}

.container {
    width: 1200px;
    margin: auto;
    margin-top: 50px
}

.wrapper-product {
    display: flex;
    align-items: flex-start;
}

.side-bar {
    margin-left: 0;
    max-width: 1000px;
    margin-top: 88px
}

.products {
    margin-right: 0;
    width: 850px;
}

.left {
    float: right;
}

.mat-grid-tile-content {
    align-items: flex-start;
}