<div *ngIf="view; else Grid">
    <mat-card class="list-product" *ngFor="let product of products">
        <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile [colspan]="1" [rowspan]="2" matBadge="NEW" matBadgePosition="before">
                <div style="margin:auto">
                    <img mat-card-lg-image src="{{product.imgLink}}">
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <div style="margin:auto">
                    <mat-card-title-group>
                        <mat-card-title style="font-size:1rem">{{product.name}}</mat-card-title>
                        <mat-card-subtitle [ngSwitch]=product.rating>
                            <div *ngSwitchCase="1" style="color:orange">
                                <mat-icon>star</mat-icon>
                                <mat-icon>star_border</mat-icon>
                                <mat-icon>star_border</mat-icon>
                                <mat-icon>star_border</mat-icon>
                                <mat-icon>star_border</mat-icon>
                            </div>
                            <div *ngSwitchCase="2" style="color:orange">
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star_border</mat-icon>
                                <mat-icon>star_border</mat-icon>
                                <mat-icon>star_border</mat-icon>
                            </div>
                            <div *ngSwitchCase="3" style="color:orange">
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star_border</mat-icon>
                                <mat-icon>star_border</mat-icon>
                            </div>
                            <div *ngSwitchCase="4" style="color:orange">
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star_border</mat-icon>
                            </div>
                            <div *ngSwitchCase="5" style="color:orange">
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                            </div>
                        </mat-card-subtitle>
                    </mat-card-title-group>
                    <mat-card-content style="margin-right: 10px">
                        {{product.description}}
                    </mat-card-content>
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="2" style="border-left: 1px solid gainsboro">
                <div class="buy" style="margin-top:30px">
                    <mat-card-title-group>
                        <mat-card-title>${{product.price}}</mat-card-title>
                        <mat-card-subtitle style="color: limegreen;">Free shipping</mat-card-subtitle>
                    </mat-card-title-group>
                    <button mat-button color="primary" class="btn-detail">Details</button>
                    <button mat-button class="btn-favorite"><mat-icon matSuffix style="font-size:1.2rem; color: grey">favorite</mat-icon> Add to wishlist</button>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</div>
<ng-template #Grid>
    <mat-grid-list cols="3" rowHeight="1:1.65">
        <mat-grid-tile *ngFor="let product of products" class="grid-item">
            <mat-card class="grid-product" matBadge="NEW" matBadgePosition="before">
                <div style="margin-top:10px">
                    <img mat-card-xl-image src="{{product.imgLink}}">
                    <div class="grid-buy">
                        <mat-card-title-group>
                            <mat-card-title>${{product.price}}</mat-card-title>
                            <mat-card-subtitle style="color: limegreen;">Free shipping</mat-card-subtitle>
                        </mat-card-title-group>
                        <button mat-button color="primary" class="btn-detail">Details</button>
                        <button mat-button class="btn-favorite"><mat-icon matSuffix style="font-size:1.2rem; color: grey">favorite</mat-icon> Add to wishlist</button>
                    </div>
                </div>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</ng-template>