<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Brands
            </mat-panel-title>
            <mat-icon>keyboard_arrow_down</mat-icon>
        </mat-expansion-panel-header>
        <div *ngFor="let brand of brands" class="brand">
            <mat-checkbox class="example-margin">{{brand.name}}</mat-checkbox>
            <div class="ammount">{{brand.ammount}}</div>
        </div>
    </mat-expansion-panel>

</mat-accordion>